certifi==2020.12.5
cffi==1.14.5
chardet==4.0.0
click==7.1.2
Flask==1.1.2
gevent==21.1.2
greenlet==1.0.0
grequests==0.6.0
idna==2.10
itsdangerous==1.1.0
Jinja2==2.11.3
MarkupSafe==1.1.1
numpy==1.20.1
pycparser==2.20
requests==2.25.1
schedule==1.1.0
tulipy==0.4.0
urllib3==1.26.4
Werkzeug==1.0.1
zope.event==4.5.0
zope.interface==5.3.0
Flask-SQLAlchemy
flask-login